@font-face {
  font-family: 'iCiel Pacifico';
  src: url('webFont1.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'UVN Bay Buom Hep';
  src: url('webFont2.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.5.0');
  src: url('fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('fontawesome-webfont.woff?v=4.5.0') format('woff'), url('fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.fa {position:relative}
.fa:before {font-family:FontAwesome; display:inline-block; margin-right:3px;}
.fa-spin:before {
	display:inline-block; text-rendering:auto;
	-webkit-animation:fa-spin 2s infinite linear; animation:fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}

@keyframes fa-spin {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}

.ping {position:relative; margin:0 12px 0 0;}
.ping:before, .ping:after{
	background:black; content:""; position:absolute; opacity:1;
	width:8px; height:8px; left:0px; top:30%; border-radius:100%;
}

.ping:after{
	background:blue;
    -moz-animation: ping 1.25s linear infinite;
    -o-animation: ping 1.25s linear infinite;
    -webkit-animation: ping 1.25s linear infinite;
    animation: ping 1.25s linear infinite;
}

 @-webkit-keyframes ping {
	0%	 {opacity:1;-webkit-transform:scale(1);transform:scale(1)}
	100% {opacity:0;-webkit-transform:scale(4);transform:scale(4)}
}

@keyframes ping {
	0%	 {opacity:1;-webkit-transform:scale(1);transform:scale(1)}
	100% {opacity:0;-webkit-transform:scale(4);transform:scale(4)}
}

.fa-home:before {content: "\f015";}
.fa-setting:before {content: "\f085";}
.fa-cog:before {content: "\f013";}
.fa-list:before {content: "\f02c";}
.fa-edit:before {content: "\f040";}
.fa-location:before {content: "\f124";}
.fa-plane:before {content: "\f1d8";}
.fa-phone:before {content: "\f095";}

.fa-google:before {content: "\f0d4";}
.fa-youtube:before {content: "\f166";}
.fa-twitter:before {content: "\f081";}
.fa-facebook:before {content: "\f082";}
.fa-wordpress:before {content: "\f19a";}
.fa-square:before {content: "\f0d3";}

.fa-folder:before {content: "\f07c";}
.fa-heart:before {content: "\f08a";}
.fa-hand:before {content: "\f256";}
.fa-window:before {content: "\f17a";}
.fa-user:before {content: "\f007";}
.fa-goback:before {content: "\f122";}
.fa-search:before {content: "\f002";}
.fa-bars:before {content: "\f0c9";}

.fa-calendar:before {content: "\f073";}
.fa-calendar2:before {content: "\f271";}
.fa-calendar3:before {content: "\f133";}
.fa-book:before {content: "\f212";}
.fa-wallet:before {content: "\f1ee";}
.fa-plus:before {content: "\f0fe";}
.fa-music:before {content: "\f21e";}
.fa-leaf:before {content: "\f18c";}
.fa-message:before {content: "\f0e0";}
.fa-fresh:before {content: "\f021";}
.fa-time:before{content:"\f017"}

.fa-bookmark:before {content: "\f02e";}
.fa-bell:before {content: "\f0f3";}
.fa-dot:before  {content: "\f141";}
.fa-dot2:before {content: "\f142";}
.fa-keypad:before {content: "\f11c";}
.fa-delete:before {content: "\f014";}
.fa-delete2:before {content: "\f00d";}

.fa-complete:before {content: "\f058";}
.fa-fault:before {content: "\f071";}

.fa-photo:before {content: "\f03e";}
.fa-map:before {content: "\f279";}
.fa-eye:before {content: "\f06e";}
.fa-public:before {content: "\f0ac";}
.fa-comment:before {content: "\f27a";}
.fa-comment2:before  {content: "\f075";}
.fa-lock:before {content: "\f023";}

